.container {
  color: var(--text-dark);
  margin: 13rem 0 26rem;
}

.intro {
  width: 90%;
  border: 1px solid var(--border-color);
  margin: var(--margin-150) auto 0;
  border-radius: .625rem;
}

.introInner {
  padding: 3.125rem 4.875rem;
}

.introMethods {
  display: flex;
  flex-wrap: wrap;
}

.introMethodItems {
  flex-basis: 50%;
  margin: .75rem 0 0;
  font-weight: var(--font-weight-300);
}

.splashLeftContent {
  padding-right: 120px;
}

.discoverHeadlineContainer {
  width: 90%;
  margin: 0 auto;
}

.header {
  color: var(--red);
  font-size: var(--font-size-xlarge);
  text-transform: uppercase;
  letter-spacing: .1em;
}

.subHeader {
  margin: 1rem 0;
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-400);
}

.splashImage {
}

.questionDivider {
  text-align: center;
  margin-top: var(--margin-150);
  justify-content: center;
  align-items: center;
}

.questionSvg {
  width: 2.25rem;
}

.questionDividerText {
  position: relative;
  letter-spacing: 0.1em;
  font-family: var(--ibm-plex-serif);
}

.questionDividerText::after {
  content: '';
  display: block;
  background: var(--red);
  height: .3125rem;
  margin: 1rem auto 0;
  width: 6.25rem;
  bottom: -1.25rem;
}

.outro {
  position: relative;
}

.outroNavContainer {
  position: static;
  border: 1px transparent;
  background: var(--white);
  box-shadow: none;
  right: 25%;
}

.outroNavStickied {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
  transition: all .5s ease-in;
}

.headlineItem {
  position: relative;
  text-decoration: none;
  color: var(--text-dark);
  font-size: var(--font-size-xsmall);
  border: 1px solid var(--yellow);
  border-radius: .625rem;
  margin-top: .625rem;
  height: 6.25rem;
  padding: .625rem;
}

.headlineItem:hover {
  box-shadow: var(--box-shadow);
}

.headlineItemText {
  margin-left: .625rem;
}

.headlineLogo {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 50px;
  opacity: .5;
}

.bbcImageContainer {
  max-width: 600px;
  margin: 0 auto;
}

.videoDemoContainer {
  margin-top: var(--margin-16);
  position: relative;
  text-align: center;
  overflow: hidden;
  line-height: 0;
}

.videoContainer {
  position: absolute;
  top: 98px;
  left: 36.7%;
  z-index: -1;
}

.tweetDiagram {
  width: 100%;
}

.tweetDiagramText {
  padding-left: 3rem;
}

.tweetDiagramListItem {
  list-style: decimal;
  margin-top: var(--margin-16);
}

.heartSvg {
  width: 30px;
  margin-left: 2rem;
}

.thankNote {
  text-align: center;
  margin-top: calc(var(--margin-150) * 2);
  font-size: var(--font-size-regular);
  font-family: var(--ibm-plex-serif);
  font-weight: var(--font-weight-800);
}

@media (max-width: 1440px) {
  .introInner {
    padding: 2rem;
  }
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}
