.home-intro {
  margin-top: 50px;
}

.home-intro-callout {
  font-size: var(--font-size-large);
  margin-bottom: 0;
}

.home-intro-container {
  margin-left: 75px;
}

.intro-sub-header {
  margin-top: 20px;
  font-size: var(--font-size-medium);
}

.home-intro-info {
  font-size: var(--font-size-medium);
  line-height: 46px;
}

.home-intro-image {
  border-radius: 50%;
  max-width: 250px;
  width: 100%;
}

.case-study-title {
  margin: 20px 0;
}

.case-study-button {
  margin-top: 20px;
}

.case-study-img {
  width: 100%;
}

.hidden-desktop {
  display: none;
}

.hidden-mobile {
  display: flex;
}

@media (max-width: 768px) {
  .hidden-desktop {
    display: flex;
  }

  .home-intro-container {
    margin-left: 0;
  }

  .hidden-mobile {
    display: none;
  }

  .home-intro {
    margin-top: 0;
  }

  .home-intro-info {
    font-size: 24px;
    margin-bottom: 0;
  }

  .home-intro-image {
    padding: 0;
    margin-top: 0;
  }

  .home-intro-text {
    display: block;
  }
}
