.home-intro {
  margin-top: 50px;
}

.home-intro-image {
  border-radius: 50%;
  max-width: 200px;
}

.case-study-title {
  margin: 20px 0;
}

.case-study-button {
  margin-top: 20px;
}

.case-study-img {
  width: 100%;
  max-width: 462px;
}

.hidden-desktop {
  display: none;
}

.hidden-mobile {
  display: flex;
}

@media (max-width: 768px) {
  .hidden-desktop {
    display: flex;
  }

  .hidden-mobile {
    display: none;
  }
}
