.container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 500px) {
  .container {
    flex-direction: row;
  }
}

.stepContainer {
  position: relative;
  cursor: pointer;
}

.stepLabel,
.stepLabelSelected {
  position: absolute;
  right: -15.75rem;
  width: 12.75rem;
  top: 50%;
  transform: translateY(-50%);
  font-family: var(--ibm-plex-serif);
  font-size: var(--font-size-regular);
  text-transform: uppercase;
}

.stepLabel {
  right: -17.1875rem;
  margin-top: 1.0625rem;
  font-size: var(--font-size-xxsmall);
}

.stepLabelSelected::after {
  content: '';
  display: block;
  background: var(--red);
  height: .3125rem;
  margin-top: .3125rem;
  width: 6.25rem;
}

.stepLabelSelected {
  margin-top: 10px;
}

.stepContainer::before {
  content: '';
  display: block;
  background: var(--red);
  height: 1.25rem;
  width: 1px;
  margin: .625rem auto;
}

.stepContainer:first-child::before {
  visibility: hidden;
  /*margin-top: -1.25rem;*/
}

.step {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  text-align: center;
  color: var(--text-dark);
  border: 1px solid var(--red);
  background: var(--white);
  color: var(--white);
}

.currentStep {
  width: 48px;
  height: 48px;
  background: var(--red);
  color: var(--white);
  transform: scale(1.2);
  margin-bottom: .625rem;
  transition: background, transform .2s ease-in;
}

.number {
  display: block;
  font-size: 1rem;
}

.text {
  font-size: .625rem;
}

.currentStep .number {
  font-size: 1.875rem;
  font-weight: var(--font-weight-semibold);
}
