.container {
  display: flex;
}

.title {
  min-width: 12.75rem;
  max-width: 12.75rem;
  font-size: var(--font-size-regular);
  text-transform: uppercase;
  margin-right: 3.125rem;
}

.emptyTitle {
  min-width: 12.75rem;
  max-width: 12.75rem;
  margin-right: 3.125rem;
}

.title::after {
  content: '';
  display: block;
  background: var(--red);
  height: .3125rem;
  width: 6.25rem;
  margin-top: .3125rem;
}

.content {
  width: 100%;
}
