.container {
  --titleWidth: 10rem;
  --titlePadding: 2.5rem;
  display: flex;
}

.title {
  min-width: var(--titleWidth);
  max-width: var(--titleWidth);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-400);
  text-transform: uppercase;
  padding-right: var(--titlePadding);
}

.simple .title {
  line-height: 2.5rem;
  min-width: 6.25rem;
  max-width: 6.25rem;
  font-size: var(--font-size-small);
  text-transform: uppercase;
  padding-right: 2.3rem;
}

.emptyTitle {
  min-width: var(--titleWidth);
  max-width: var(--titleWidth);
  padding-right: var(--titlePadding);
}

.simple .emptyTitle {
  min-width: 6.25rem;
  max-width: 6.25rem;
  padding-right: var(--titlePadding);
}

.title::after {
  content: '';
  display: block;
  background: var(--red);
  height: .3125rem;
  width: 6.25rem;
  margin-top: .3125rem;
}

.simple .title::after {
  content: none;
}

.content {
  width: 100%;
  padding-right: calc(var(--titleWidth) + var(--titlePadding)); /* 200px padding */
}

.simple .content {
  padding-right: 0;
}

@media (max-width: 1024px) {
  .content {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .content {
    padding-right: 0;
  }
}
