/* Includes reusable component styles like navigation */

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  --spacing-large: 60px;
  --spacing-xlarge: 120px;
}

.social-icon {
  margin-right: 7px;
}

.linkedin-blue {
  color: #4875B4;
}

.content {
  margin: var(--spacing-large) auto;
}

.flex-align {
  display: flex;
  align-items: center;
}


.flex-space-between-aligned {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-top-align {
  align-items: initial;
}

.flex-item-50 {
  flex: 0 50%;
}

.srow + .srow {
  margin-top: var(--spacing-xlarge);
}

.flex-space-left {
  margin-right: 50px;
}

.flex-space-right {
  margin-left: 50px;
}

.navigation {
  padding: 20px 0;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.navigation-list-item {
  display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
  padding: 0 15px;
}

.navigation-list-item:hover {
  text-decoration: underline;
}

.navigation-list-item-link {
  color: black;
  text-decoration: none;
}

.navigation-list-item-link:hover {
  color: black;
}

@media (max-width: 768px) {
  .navigation-list-item {
    font-size: 20px;
    padding: 0 10px;
  }

  .flex-space-left {
    margin-right: 0;
  }

  .flex-space-right {
    margin-left: 0;
    margin-top: 30px;
  }

  .flex-space-between-aligned {
    flex-direction: column;
  }

  .flex-item-50 {
    width: 100%;
  }
}
