.header {
  padding: 0 20px;
}

.contentContainer {
  margin: 90px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
}

.navItem {
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-600);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media (max-width: 768px) {
  .contentContainer {
    margin: 40px auto 50px;
  }

  .logo {
    width: 30px;
    height: 30px;
  }

  .navItem {
    font-weight: var(--font-weight-600);
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }
}
