.baymade-quality-img {
  width: 375px;
  margin: 30px auto;
  display: block;
}

.new-nav-margin {
  margin-top: 21px;
}

.method-item {
  margin-top: 5px;
}


@media (max-width: 768px) {
  .new-nav-margin {
    margin-top: 0;
  }
}
