.mada-problem-solution-img {
  margin: 30px auto;
  display: block;
  padding-right: 45px;
  width: 100%;
}

.mada-unsuccessful-img {
  margin: 0 auto;
  max-width: 420px;
}

.letter-spacing {
  letter-spacing: 12px;
}

.new-nav-margin {
  margin-top: 21px;
}

.list-top-spacing {
  margin-top: 5px;
}

.quote-img {
  max-width: 35px;
}


@media (max-width: 768px) {
  .new-nav-margin {
    margin-top: 0;
  }
}
