.mada-problem-solution-img {
  margin: 30px auto;
  display: block;
  padding-right: 45px;
  width: 100%;
}

.mada-unsuccessful-img {
  margin: 0 auto;
  max-width: 420px;
}

.letter-spacing {
  letter-spacing: 12px;
}

.quote-box {
  max-width: 375px;
  text-align: center;
}

.quote-box p {
  font-size: var(--font-size-small);
}

.quote-box + .quote-box {
  margin-top: var(--spacing-small);
}

.left-25 {
  margin-left: 25%;
}

.left-50 {
  margin-left: 50%;
}

.left-75 {
  margin-left: 75%;
}

.new-nav-margin {
  margin-top: 21px;
}

.list-top-spacing {
  margin-top: 5px;
}

.quote-img {
  max-width: 35px;
}

.top-marign-43 {
  margin-top: 43px;
}

@media (max-width: 768px) {
  .new-nav-margin {
    margin-top: 0;
  }

  .left-25 {
    margin-left: 0;
  }

  .left-50 {
    margin-left: 0;
  }

  .left-75 {
    margin-left: 0;
  }
}
