.app {
    /* colors */
  --red: #f46b8b;
  --text-dark: #303030;
  --text-light: #454545;
  --pink: #f3d1d9;
  --baby-pink: #ffeded;
  --yellow: #f0ca81;
  --green: #45dec3;
  --white: #ffffff;
  --light-grey: #f9f9f9;

  /* margins */
  --margin-16: 1rem;
  --margin-50: 3.125rem;
  --margin-100: 6.25rem;
  --margin-150: 9.375rem;

  /* fonts */
  --ibm-plex-serif: 'IBM Plex Serif', serif;
  --font-size-xlarge: 3.75rem; /* 60px */
  --font-size-regular: 1.5rem; /* 24px */
  --font-size-small: 1.125rem; /* 18px */
  --font-size-xsmall: .875rem; /* 14px */
  --font-size-xxsmall: .625rem; /* 10px */
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* shadows */
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);;

  padding: 0 150px;
  font-size: var(--font-size-small);
}
