.home {
  color: var(--text-dark);
}

.restrict1440 {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

.header {
  padding-top: 40px;
  font-weight: var(--font-weight-600);
  font-size: 56px;
  line-height: 70px;
}

.thoughtful {
  font-weight: var(--font-weight-700);
  font-style: italic;
}

.wallImageContainer {
  margin-top: 140px;
}

.wallImage {
  width: 100%;
}

.worksHeader {
  font-size: 100px;
  font-weight: var(--font-weight-700);
  line-height: 132px;
  margin: 0;
}

.worksContainer {
  text-transform: uppercase;
  padding-top: 169px;
}

.workItem {
  font-size: 100px;
  font-style: italic;
  font-weight: var(--font-weight-600);
  line-height: 60px;
  margin-top: 70px;
  user-select: none;
}

.caseStudyContainer {
  margin-top: 70px;
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1000px;
}

.caseStudyItem {
  width: 100%;
}

.caseStudyItem:hover {
  box-shadow: var(--box-shadow-hovered);
}

.aboutMe {
  margin-top: 208px;
}

.aboutMeHeader {
  font-weight: var(--font-weight-600);
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
}

.aboutMeContent {
  background: var(--volt);
  position: relative;
}

.aboutMeTextContainer {
  z-index: 2;
  position: relative;
  padding: 240px 120px;
}

.aboutMeText {
  font-weight: var(--font-weight-700);
  font-size: 56px;
  line-height: 42px;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.byTextOne,
.byTextTwo,
.byTextThree {
  font-weight: var(--font-weight-400);
  line-height: 53px;
  font-size: 40px;
  text-transform: lowercase;
  letter-spacing: 0.05em;
}

.byTextOne {
  margin-left: 89px;
}

.byTextTwo {
  margin-left: 52px;
}

.byTextThree {
  margin-left: 63px;
}

.byTextRight {
  margin-left: 35px;
  letter-spacing: 0;
}

.aboutMeImageContainer {
  position: absolute;
  right: 0;
  top: 100px;
  transition: top .5s ease-out;
  z-index: -1;
}

.aboutImage {
  width: 646px;
}

.myStory {
  margin-top: 104px;
  position: relative;
  z-index: 2;
}

.quoteSvg {
  width: 60px;
}

.myStoryHeader {
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-large);
  line-height: 40px;
  font-style: italic;
  margin-top: 28px;
}

.myStorySubHeader {
  font-weight: var(--font-weight-700);
  font-size: 100px;
  line-height: 140px;
}

.myStoryContainer {
  display: flex;
  margin-top: 200px;
}

.myStoryLeft {
  flex-basis: 50%;
}

.myStoryRight {
  flex-basis: 50%;
  margin-left: 74px;
}

.storyRightHeader {
  font-weight: var(--font-weight-400);
  font-size: 30px;
  line-height: 60px;
}

.storyText {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-small);
  line-height: 24px;
  margin: 30px 0;
}

.myMethodContainer {
  text-align: center;
  margin: 300px auto;
  width: 100%;
}

.myMethodImage {
  max-width: 669px;
}

.myMethods {
  display: flex;
  justify-content: space-between;
}

.skillsTools {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}

.methodText {
  font-weight: var(--font-weight-700);
  font-size: 60px;
  line-height: 51px;
}

.skillsHeader,
.toolsHeader {
  text-transform: uppercase;
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-small);
  line-height: 24px;
}

.skillsHeader {
  margin-top: 100px;
}

.toolsHeader {
  margin-top: 50px;
}

.skillsToolsItem {
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-small);
  line-height: 24px;
}

.toolsYellowBlock {
  display: block;
  width: 96px;
  height: 96px;
  background: var(--volt);
}

.resumeButtonContainer {
  text-align: center;
  margin: 200px 0;
}

.resumeButton {
  background: var(--volt);
  padding: 30px 60px;
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-regular);
  letter-spacing: 0.05em;
  line-height: 32px;
  text-transform: uppercase;
}

.resumeButton:hover {
  background: var(--volt-light);
}

.resumeButton:hover {
  text-decoration: none;
  color: var(--text-dark);
}

.connectTextContainer {
  background: var(--black);
  color: var(--white);
}

.connectText {
  padding: 84px 120px;
  font-size: 100px;
  font-weight: var(--font-weight-700);
  line-height: 132px;
  text-transform: uppercase;
}

.feedbackContainer {
  margin-top: 84px;
  margin-bottom: 300px;
}

.feedbackHeader {
  font-size: 30px;
  line-height: 50px;
  font-weight: var(--font-weight-700);
}

.emailContainer {
  margin-top: 63px;
  font-weight: var(--font-weight-700);
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.05em;
}

.mobileText {
  font-size: 18px;
  text-align: center;
  margin: 100px 0;
}

@media (max-width: 1024px) {
  .restrict1440 {
    margin: 0 auto;
    padding: 0 60px;
  }

  .header {
    font-size: 40px;
    line-height: 52px;
  }

  .worksContainer {
    padding-top: 169px;
  }

  .workItem {
    font-size: 80px;
  }

  .aboutMeTextContainer {
    padding: 240px 60px;
  }

  .aboutMeText {
    font-size: 38px;
    line-height: 42px;
    letter-spacing: .2em;
  }

  .aboutImage {
    width: 323px;
  }

  .byTextOne,
  .byTextTwo,
  .byTextThree {
    font-size: 32px;
  }

  .byTextOne {
    margin-left: 78px;
  }

  .byTextTwo {
    margin-left: 52px;
  }

  .byTextThree {
    margin-left: 59px;
  }

  .myStory {
    margin-top: 104px;
  }

  .myStorySubHeader {
    font-size: 80px;
  }

  .myStoryContainer {
    display: block;
  }

  .myStoryLeft {
    float: left;
    width: 50%;
    padding-right: 30px;
  }

  .myStoryRight {
    margin-left: 0;
  }

  .myStoryTitle {
    display: block;
  }

  .storyRightHeader {
    font-size: 24px;
    line-height: 30px;
  }

  .connectText {
    padding: 84px 60px;
    font-size: 80px;
    line-height: 132px;
  }

  .feedbackContainer {
    margin-top: 84px;
    margin-bottom: 200px;
  }

  .feedbackHeader {
    font-size: 30px;
    line-height: 50px;
    letter-spacing: .01em;
  }

}


@media (max-width: 768px) {
  .restrict1440 {
    margin: 0 auto;
    padding: 0 20px;
  }

  .header {
    font-size: 30px;
    line-height: 52px;
  }

  .worksContainer {
    padding-top: calc(169px - 69px);
  }

  .worksHeader {
    font-size: 60px;
  }

  .workItem {
    font-size: 45px;
    line-height: 25px;
  }

  .aboutMe {
    margin-top: calc(208px - 69px);
  }

  .aboutMeTextContainer {
    padding: 140px 30px;
  }

  .aboutMeText {
    font-size: 38px;
    line-height: 42px;
    letter-spacing: .2em;
  }

  .byTextOne,
  .byTextTwo,
  .byTextThree {
    display: block;
    margin-left: 40px;
  }

  .byTextRight {
    margin-left: 10px;
  }

  .myStory {
    margin-top: 104px;
  }

  .myStorySubHeader {
    font-size: 40px;
  }

  .myStoryContainer {
    display: block;
    margin-top: 100px;
  }

  .myStoryLeft {
    padding-right: 20px;
  }

  .myStoryRight {
    margin-left: 0;
  }

  .storyText {
    line-height: 24px;
    margin: 20px 0;
    font-size: var(--font-size-xsmall);
  }

  .myStoryTitle {
    display: block;
  }

  .storyRightHeader {
    font-size: 24px;
    line-height: 30px;
  }

  .methodText {
    font-size: 30px;
    line-height: 31px;
  }

  .myMethodContainer {
    margin: 150px auto;
  }

  .skillsTools {
    margin: 0 -10px;
    grid-template-columns: repeat(2, 1fr);
  }

  .skillsToolsItem {
    font-weight: var(--font-weight-600);
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
  }

  .toolsYellowBlock {
    width: 89px;
    height: 89px;
  }

  .resumeButton {
    padding: 20px 30px;
    font-size: var(--font-size-small);
  }

  .resumeButtonContainer {
    margin: 150px 0;
  }

  .connectText {
    padding: 84px 30px;
    font-size: 40px;
    line-height: 62px;
  }

  .feedbackContainer {
    margin-top: 84px;
    margin-bottom: 150px;
  }

  .feedbackHeader {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: .01em;
  }

  .emailContainer {
    font-size: 18px;
  }
}


@media (max-width: 500px) {
  .aboutImage {
    width: 100%;
    opacity: 0.8;
  }

  .caseStudyContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
