.footer {
  margin: var(--margin-150) 0 calc(var(--margin-150) * 2);
  padding-top: 4.6875rem;
  border-top: 1px solid var(--border-color);
  font-family: var(--ibm-plex-serif);
}

.header {
  font-size: 30px;
  letter-spacing: .8rem;
  text-transform: uppercase;
}

.contentContainer {
}

.subContent {
  margin-top: var(--margin-16);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftContent {
  font-size: var(--font-size-xxsmall);
  line-height: 2rem;
  font-family: var(--petit-formal-script);
}

.rightContent {
  letter-spacing: 0.1em;
}

.rightTitle {
}

.emailSvg {
  width: 28px;
  margin-right: 1rem;
  position: relative;
  bottom: 3px;
}

.contactContainer {
  font-size: var(--font-size-xsmall);
  text-align: right;
}

.contactContainer > * {
  margin-top: .625rem;
}

.socialContact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}

@media (max-width: 768px) {
  .subContent {
    flex-wrap: wrap;
  }

  .rightContent {
    margin-top: var(--margin-50);
  }

  .socialContact {
    justify-content: flex-start;
  }

  .contactContainer {
    text-align: left;
  }
}
