.footer {
  background: var(--brand-color);
  text-align: center;
  font-weight: var(--font-weight-700);
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: var(--font-size-regular);
  letter-spacing: 0.1em;
  line-height: 32px;
  text-transform: uppercase;
}

.subHeader {
  font-size: var(--font-size-xxsmall);
  line-height: 16px;
  letter-spacing: 0.05em;
  margin-top: 13px;
}

.year {
  font-size: var(--font-size-xxsmall);
  line-height: 16px;
  letter-spacing: 0.05em;
  margin-top: var(--margin-50);
}

.socialIcon {
  width: 30px;
  margin: 0 13px;
}

@media (max-width: 768px) {
}
